<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Añade aquí tu código CSS.

Por ejemplo:
.ejemplo {
    color: red;
}

Para mejorar tu conocimiento sobre CSS knowledge echa un vistazo a http://www.w3schools.com/css/css_syntax.asp

Colores:
Azul: #1f5a8f
Naranja; #e59e4f

Fin del comentario */ 

div.row-top-page {
  height: 10.8rem;
}

p.style-tooltip {
    color: white;
    padding: 0 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.spacing-login {
    height: 6rem !important;
}


/***  Estilos inicio de sesion  ***/
p.login-submit {
    text-align: center;
}
input.btn-login {
    background: #1f5a8f;
    color: #ffffff;
    border-radius: 22px;
}
input.btn-login:hover {
    background: #e59e4f;
    color: #ffffff;
}

span#view-password {
    background: #e1e1e1;
    padding: 0.6rem 0.6rem 0.4rem 0.6rem;
    margin-left: -41px;
    position: absolute;
  	cursor: pointer;
}
.svg-view-password {
    height: auto;
    color: #1f5a8f;
}

.pmpro_member_log_out {
    text-align: center;
    padding: 2rem 0 1rem;
}

a.btn-go-event {
    background: #1f5a8f;
    padding: 0.8rem 1rem;
    border-radius: 22px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
a.btn-go-event:hover {
    background: #e59e4f;
}

a.btn-logout-pmpro {
    background: #e59e4f;
    padding: 0.8rem 1rem;
    border-radius: 22px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 2rem;
}
a.btn-logout-pmpro:hover {
    background: #1f5a8f;
}

span.wd-tools-text {
    text-transform: none !important;
}

div#contentConference {
    width: 100vh;
    min-width: 1200px;
    min-height: 700px;
}

.contet-radio-buttom {
    margin-bottom: 1rem;
}
.text-radio-buttom {
    text-align: justify;
  	font-size: 0.8rem;
}



/*** EStilos para usuarios sin acceso a la pagina  ***/
.pmpro_content_message {
    padding-top: 15rem;
    font-size: 1.2rem;
}

a.btn-login-url {
    background: #1f5a8f !important;
    padding: 0.8rem 1.5rem !important;
    border-radius: 25px !important;
    color: white !important;
    font-size: 1rem;
    font-weight: bold !important;
}
a.btn-login-url:hover {
  	background: #e59e4f !important;
}


/***  Estilo para los puntos  ***/
.content-title-points {
  text-align: center;
  cursor: pointer;
}
.title-points {
  color: #1f5a8f;
  font-size: 1rem;
  line-height: 0.5;
}
strong#my-total-points {
  font-size: 1.2rem;
  color: #f09652;
}
.btn-terms-conditions {
    margin-bottom: 2rem;
    color: #ee8436 !important;
    font-size: 1.5rem;
    border-bottom: none !important;
  text-transform: none;
}
.btn-terms-conditions:hover {
  color: #1f5a8f !important;
}
.main-content-checkbox {
    text-align: center;
}

.content-info {
    padding: 5px;
}
div.style-info {
    padding: 5px;
}


/***  Estilos para moviles  ***/
@media (max-width: 767.98px) { 
	div.row-top-page {
      height: 7rem;
    }
  	.spacing-login {
      height: 2rem !important;
    }
  
  	.content-title-points {
      padding-top: 15px;
      margin-right: 5px;
    }
  	.title-points {
      font-size: 0.8rem;
      line-height: 0;
    }
  	strong#my-total-points-movil {
      font-size: 1rem;
      color: #f09652;
    }

}
/*
@media (min-width: 992px) and (max-width: 1199.98px) { 
	div#rowTopPage {
      height: 12vh;
    }
}

@media (min-width: 1200px) { 
	div#rowTopPage {
      height: 18vh;
    }
}*/
</style>
<!-- end Simple Custom CSS and JS -->
