<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Añade aquí tu código CSS.

Por ejemplo:
.ejemplo {
    color: red;
}

Para mejorar tu conocimiento sobre CSS knowledge echa un vistazo a http://www.w3schools.com/css/css_syntax.asp

Fin del comentario */ 

.container__star {
    position: absolute;
    text-align: center;
    bottom: .5rem;
    left: 0;
    right: 0;
}

.container__star .stars {
    margin: auto;
}

.container__star .star {
    color: #ccc;
}


.stars {
  display: table;
  direction: rtl;
  unicode-bidi: bidi-override;
}

.star {
  display: inline;
  cursor: pointer;
  font-size: 2rem;
  padding: 0 7px;
  margin: 0 4px;
  background: #1f5a8f;
  border-radius: 21px;
  line-height: 2;
}

.star:hover~.star,
.star:hover,
.stars:not(:hover) .star.active~.star,
.stars:not(:hover) .star.active {
  color: orange;
  background: #ffffff;
}

</style>
<!-- end Simple Custom CSS and JS -->
